
rect.arrayKeyItem, rect.arrayValueItem {
  fill:white;
  stroke:black;
  stroke-width:1;
  opacity:1;
}

rect.arrayKeyItem.selected {
    fill:#00B7EB;
}

rect.arrayValueItem.selected {
    fill:#6BF76B;
}

rect.focused {
  stroke-width:3;
}

.code {
    font-size:16px;
    fill:#000000;
    font-family:PT Mono;
}

.note {
    font-size:12px;
    fill:#000000;
    font-family:PT Serif;
}

.comment {
    font-size:14px;
    fill:#000000;
    font-family:PT Serif;
}

.bigcomment {
    font-size:18px;
    fill:#000000;
    font-family:PT Serif;
}

.link {
  fill:none;
  stroke:black;
  stroke-width:1.2;
  marker-end:url(#TriangleOutL);
}
